.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  margin-top: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-Searchbar {
  margin-top: 25px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;;
  padding-right: 10px;
}

.App-Tabs {
  margin-top: 25px;
}

.App-Label{
  margin-top: 25px;
}

.App-Select{
  margin-left: auto;
  margin-right: auto;
}

.App-Button {
  margin-bottom: 25px;
}